@using Songify.Models.BandModels
@using Microsoft.AspNetCore.Identity
@using Songify.Entities
@inject UserManager<SongifyUser> UserManager
@inject SignInManager<SongifyUser> SignInManager

@model IEnumerable<BandAllViewModel>
@{
    ViewData["Title"] = "All Bands";
}
<h1>All Bands</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-primary mb-2">Add Band</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var band in Model)
        {
            <tr>
                <td>@band.Name</td>
                <td>@band.FormYear</td>
                <td>@band.Country</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@band.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@band.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>