@using Songify.Models.BandModels
@using Microsoft.AspNetCore.Identity
@using Songify.Entities
@inject UserManager<SongifyUser> UserManager
@inject SignInManager<SongifyUser> SignInManager

@model IEnumerable<BandAllViewModel>
@{
    ViewData["Title"] = "All Bands";
}
<h1>All Bands</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <a asp-action="Create" class="add">Add Band</a>
}
<div class="container">
        @foreach (var band in Model)
        {
            <div class="card">
                <h5>@band.Name</h5>
                <p><strong>Form year:</strong>@band.FormYear</p>
                <p><strong>Country:</strong>@band.Country</p>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <div class="admin-actions">
                    <a asp-action="Edit" asp-route-id="@band.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@band.Id">Delete</a>
                    </div>
                }
            </div>
        }
</div>