@using Songify.Models.SongModels
@model IEnumerable<SongAllViewModel>
@{
    ViewData["Title"] = "All Songs";
}
<h1>All Songs</h1>
<a asp-action="Create" class="btn btn-primary mb-2">Add Song</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandId)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.Title</td>
                <td>@song.Duration</td>
                <td>@song.AlbumId</td>
                <td>@song.BandId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@song.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@song.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
